<div>
  <form [formGroup]= "formLogin" (submit)="send()">
    <!--Email input-->
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <!--Password input-->
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <!--terms button-->
    <div>
      <label for="terms">Terms:</label>
      <input type="checkbox" id="terms" formControlName="terms">
    </div>
    <!--Submit button-->
    <div>
      <button [disabled]="formLogin.invalid">Send</button>
    </div>
  </form>
</div>
<div>
  Valido: {{formLogin.valid | json}}
</div>